<body class="original">
  <%= render 'partials/header_index' %>

  <div class="hero">
    <div class="container">
      <h2 id="hero_header">My Pick of The Week:</h2>
      <h2>Interstellar</h2>
      <p>Former NASA pilot Cooper (Matthew McConaughey) and a team of researchers travel across the galaxy to find out which of three planets could be mankind's new home.</p>
      <a href="/movies/10">Read More</a>
    </div>
  </div>

  <div class="main">
    <div class="container">
    <h2>My Reviewed Films</h2>
      <% @movies.each do |movie| %>
      <div class="movie">
        <%= image_tag movie.image %>
        <h3><%= movie.title %></h3>
        <p><%= movie.release_year %></p>
        <%= link_to "Read more...", movie_path(movie) %>
      </div>
      <% end %>
    </div>
  </div>
</body>